.band-menu {
    display: flex;
    justify-content: space-around;
}


.band-menu-elt {
    padding: 3em;

    font-size: x-large;
    font-weight: 100;
}

.band-body {
    font-size: medium;
    line-height: 2em;
    font-weight: 200;
    margin-left: 5em;
    margin-right: 5em;
}