.player-container {
    background-color: #E65100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
     display: flex;
    padding: 1.5em 1.5em 1.5em 15em;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

.player-img {

}

.player-wrapper {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.player-info {
    display: flex;
}

.player-info div {
    align-self: center;
}

.player-info strong {
    font-size: medium !important;
}

.player-info em {
    font-size: small !important;
}

.player-text {
    margin-left: 1em;
}


.react-player {
    margin-left: auto;
    margin-right: auto;
}

.player-command-container {
    display: flex;
    flex: 2;
    justify-content: space-around;
}


.player-command-container i {
    align-self: center;
}


i.pointer.fa.fa-step-backward {
    font-size: larger;
    font-weight: bolder;
}

i.pointer.fa.fa-step-forward {
    font-size: larger;
    font-weight: bolder;
}

.player-command-container button{
    /*margin-top: 0.8em;*/
    margin-top: 0.1em;
    /*margin-left: 0.6em;*/
    margin-left: 0.2em;
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}


/* Remove btn focus around bootstrap button */
.btn:focus {
    outline: none !important;
}

.player-command-container .btn-default {
    opacity: 0.5 !important;
}

#menu {
    align-self: center;
    flex: 1;
    text-align: right;
    margin-right: 2.5em;
}


.inline-content strong{
    font-size: x-large;
}

.menu-right {
    align-self: center;
    flex: 14;
    text-align: right;
    margin-right: 2.5em;
}

/*

    RESPONSIVE
*/

@media only screen and (max-width: 750px) {

    #menu {
        margin-right: 0;
    }

    .player-info strong {
        font-size: large !important;
    }

    .player-info em {
        font-size: small !important;
    }

    .player-info {
        margin-top: 0.4em;
        flex: 5;
        margin-left: 0.7em;
    }

    .player-command-container button {
        margin-top: 0.2em;
        margin-left: 0.2em;
    }

    .player-container {
        padding: 1em !important;
    }

}

@media only screen and (max-width: 1500px) {

    #menu {
        margin-right: 0;
    }

    .player-info strong {
        font-size: large !important;
    }

    .player-info em {
        font-size: small !important;
    }

    .menu-right {
        flex: 2;
    }

    .player-info {
        margin-top: 0.4em;
        flex: 2;
        margin-left: 0.7em;

    }

    .player-command-container {
        flex: 1;
    }

    .player-command-container button {
        margin-top: 0.2em;
        margin-left: 0.2em;
    }

    .player-container {
        padding: 1.5em 1.5em 1.5em 10em;
    }

}



