/*
  CART
*/

.menu-container {

    position: fixed;
    right: 0;

    margin-bottom: 73px !important;
    padding: 15px;
    background-color: #ECEFF1;
    width: 250px;
    height: 100%;
    z-index: 10;
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);

    text-align: center;

}

.menu-container .row {
    padding-left: 0;
    padding-right: 0;
}

.with--menu .menu-container {
    transition-duration: 0.3s;
    transform: translateX(0px);
}

.playlist-container {
    line-height: 0.1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;

}

.playlist-item {
    margin-bottom: 1.5em;
    text-align: right;
}

.playlist-item-active {

    margin-bottom: 1.5em;
    color: #E65100;
    font-weight: bold;

}

/*

    RESPONSIVE
*/

@media only screen and (max-width: 750px) {


    .menu-container {

        position: fixed;
        right: 0;
        top: 0;
        margin-bottom: 117px !important;
        bottom: 0;
        padding: 15px;
        background-color: #ECEFF1;
        width: 250px;
        z-index: 10;
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
        transform: translateX(300px);

    }

}
