.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #222 no-repeat;
  background-image: url("./style/sunflowers.jpg");
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  padding: 20px;
  padding-bottom: 100px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.intro-logo {
  display: flex;
  /*justify-content: center;*/
  margin-top: 5em;
  padding: 4em 4em 0em 4em;
  /*min-height: 100%;*/
}

.sub-menu-container {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.sub-menu-container div {
  font-size: x-large;
  font-weight: 100;
  margin: 1em;
  margin-bottom: 0em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pointer {
  cursor: pointer;
}

i.pointer {
  text-shadow: 0px 0px 3px rgba(95, 89, 89, 0.52)
}

.App-container {

  display: flex;
  flex-direction: column;
}

/*

  MULTIPLE DESKTOP

*/

.body-container,
.body-1,
.body-2,
.body-3 {
  height: 100%;
  width: 100%
}

.body-container {
  /*display: flex;*/
}

.body-1 {

  overflow-y: hidden;
}

.body-2 {
  /*overflow-y: scroll;*/

}

.screen-1 .body-1 {
  transition-duration: 0.3s;
  transform: translateX(0px);
}

.screen-1 .body-2 {
  transition-duration: 0.3s;
  transform: translateX(2000px);
}

.screen-2 .body-2 {
  transition-duration: 0.3s;
  transform: translateX(0px);
}

.screen-2 .body-1 {
  transition-duration: 0.3s;
  transform: translateX(-2000px);
}

.navigation-icon-left {
  position: absolute;
  left: 0.4em;
  top: 0.4em;

  z-index: 2;
}

.navigation-icon-right {
  position: absolute;
  right: 0.4em;
  top: 0.4em;
}


.body-enter {
  opacity: 0.01;
}

.body-enter.body-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.body-leave {
  opacity: 1;
}

.body-leave.body-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


/*

    RESPONSIVE
*/

@media only screen and (max-width: 750px) {


  .navigation-icon-left {
    position: absolute;
    left: 0.4em;
    top: 0.4em;
  }

  .navigation-icon-right {
    position: absolute;
    right: 0.4em;
    top: 0.4em;
  }

  .intro-logo {
    /*justify-content: center;*/
    margin-top: 2em;
    margin-bottom: 1em;


    padding: 1em 0em 0em 0em;
  }


  .sub-menu-container div {

    margin-top: 0em;
  }

  .small-player-container {
    margin-bottom: 5em;
    margin-top: 0.5em;
  }
}
