.shows-list-group {
    list-style-type: none;
    line-height: 1.5em;
}

.playlist-item-active {

    color: #E65100;
    font-weight: bold;
    text-align: right;

}

.primary-color {
    background-color: #e6e4dd
}

.page-info {}

.page-info-2 {

    background-color: white;

    border-top: 1px #ccc9c9 solid;
    border-bottom: 1px #ccc9c9 solid;

    padding-bottom: 5em;

    display: flex;
    justify-content: center;
}

.page-info-1 {
    display: flex;
    flex-direction: column;
    /*margin: auto;*/

}

.page-info-1 h1 {
    padding-bottom: 0.5em;

}

.page-info-2 h1 {

}

.page-info-1 img {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
}

.follow-banner div {
    text-align: center;
    font-weight: 100;
    font-size: x-large;
}

.follow-banner {

    padding-bottom: 2em;
    padding-top: 2.5em;
}

.icon-content {

    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;

}

.icon-item {
    margin: 0.2em;
    display: flex;
    justify-content: space-around;
    width: 33%;
    align-items: center;
}

.icon-content a {
    color: black !important;
}

.icon-content a:hover {
    color: #7c7732 !important;
}

.info-container {
    margin-left: 3em;
    margin-right: 3em;
}

.info-item {
    margin-bottom: 1.5em;
    text-align: right;
}

.welcome-message {
    text-align: center;
    font-weight: 100;
    font-size: xx-large;
    min-height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.pointer:hover {

    color: #7c7732 !important;
}

.banner {

    border-top: 1px #ccc9c9 solid;
    border-bottom: 1px #ccc9c9 solid;

}

.ep-container {
    display: flex;
}

.songs-container {
    display: flex;
    flex-direction: column;
    flex: 10;
}

.thumbnail {
    width: 33%;
    height:33%;

}

/*

    RESPONSIVE
*/

@media only screen and (max-width: 750px) {

    .intro-logo {
        /*justify-content: center;*/
        margin-top: 2em;
        margin-bottom: 1em;
        padding: 1em 0em 0em 0em;
    }

}
