.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #222 no-repeat;
  background-image: url("./style/sunflowers.jpg");
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  padding: 20px;
  padding-bottom: 100px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pointer {
  cursor: pointer;
}


/*

  MULTIPLE DESKTOP

*/

.body-container,
.body-1,
.body-2,
.body-3 {
  height: 100%;
  width: 100%
}

.body-container {
  display: flex;
  overflow-x: hidden;
}

.body-1 {

  position: absolute;
  overflow-y: hidden;
}

.body-2 {

  overflow-y: hidden;
}

.screen-1 .body-1 {
  transition-duration: 0.3s;
  transform: translateX(0px);
}

.screen-1 .body-2 {
  transition-duration: 0.3s;
  transform: translateX(2000px);
}

.screen-2 .body-2 {
  transition-duration: 0.3s;
  transform: translateX(0px);
}

.screen-2 .body-1 {
  transition-duration: 0.3s;
  transform: translateX(-2000px);
}

.navigation-icon-left {
  position: absolute;
  left: 2em;
  top: 2em;
}

.navigation-icon-right {
  position: absolute;
  right: 2em;
  top: 2em;
}