.shows-list-group {
    list-style-type: none;
    line-height: 1.5em;
}

.playlist-item-active {

    color: #E65100;
    font-weight: bold;
    text-align: right;

}

.page-info-1 h1 {
    padding-bottom: 0.5em;

}

.page-info-2 h1 {

}

.follow-banner div {
    text-align: center;
    font-weight: 100;
    font-size: x-large;
}

.follow-banner {

    padding-bottom: 2em;
}

.icon-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    margin-top: 2em;

}

.icon-content a {
    color: black !important;
}

.icon-content a:hover {
    color: #7c7732 !important;
}

.info-container {
    line-height: 0.1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;

}

.info-item {
    margin-bottom: 1.5em;
    text-align: right;
}


.pointer:hover {

    color: #7c7732 !important;
}
